<template>
	<a @click.prevent="onClick(article)" href="#">
		<h2 v-html="article.title"></h2>
		<div class="Web__site-container__img">
			<img :src="article.img" width="100" />
			{{ article.url }}
		</div>
	</a>
</template>

<script>
	
export default{

	props: ['article'],

	methods: {
		onClick(article){
			this.$emit('onClick', article);
		}
	}

}

</script>