<template>
	
	<div class="Page Web">
		
		<h1>Campagne web 2016/2017</h1>

		<ul class="Web__site-container">
			<li v-for="website in websites">
				<vignette :article="website" @onClick="onVignetteClick"></vignette>
			</li>
		</ul>

		<transition name="fadeout">
			<lightbox 
				v-if="lightboxContent" 
				:content="lightboxContent"
				@close="onCloseLightbox"></lightbox>
		</transition>

	</div>

</template>

<script>
import { websites } from './websites' 
import Lightbox from 'components/lightbox/Lightbox.vue'
import Vignette from './Vignette.vue'
	
export default{
	name: 'Web',

	head: {
		title() {
			return {
				inner: 'Web - ' + this.trans('Global.meta.title')
			}
		},
		meta() {
			return [
				{ name: 'description', content: 'Web - ' + this.trans('Global.meta.title') }
			]
		}
	},

	data: () => ({
		websites,
		lightboxContent: null
	}),


	components: {Lightbox, Vignette},

	methods: {

		onVignetteClick(website){
			this.lightboxContent = `<img src="${website.img}" />`;
		},

		onCloseLightbox(){
			this.lightboxContent = null;
		}

	}


}

</script>


<style lang="stylus">
@import '~config/Settings'
@import '~commons/stylus/Media-queries'
	
	@lost flexbox flex;

	.Web__site-container
		lost-flex-container: row;
		
		li
			lost-column 1/2 2 60px
			margin-bottom 60px
			
			a
				lost-flex-container: row;
				align-items center

				h2
					lost-column 2/5
					font-size 18px
				.Web__site-container__img
					lost-column 2/5
					text-align center
					font-size 14px
					img
						display block
						margin 0 auto
						padding-bottom 6px
					
	.LIGHTBOX
		position absolute
		top 50%
		left 50%
		transform translate(-50%,-50%)
		
		width 90%
		padding 20px
		border 3px solid color-text
		border-radius 20px
		box-shadow 0px 0px 12px 6px rgba(0,0,0,0.25)
		transition all 500ms
		
		img
			display block
			width 90%
			margin 0 auto


	.fadeout-leave-active, 
	.fadeout-enter
		opacity 0
		
	

	+max-screen(phone)
		
		.LIGHTBOX
			position fixed

		.Web__site-container
			lost-utility clearfix
			
			li
				lost-column 1
				
				h2, .Web__site-container__img
					lost-column 1
					text-align center
					

	+max-screen(xsphone)
		.Web__site-container			
			li a
				
				h2
					margin-bottom 16px

				h2, .Web__site-container__img
					width 100%
					lost-column 1
					
					img
						width 100%
						


			


</style>
