<template>
<transition name="loader" :css="false" @leave="leave" appear>
  <div id="Loader">
    <div class="Loader__line"></div>
  </div>
</transition>
</template>

<script>
import _ from 'lodash'
import TweenMax from 'gsap'
import Preloader from 'preload-js'
import configBuild from 'root/config/index.js'

const modeBuild = (process.env.NODE_ENV === 'production') ? 'build' : 'dev'

export default {

  data() {
    return {
      $preloader: null,
      resolveLoader: null,
      manifest: [],
      ignore: ['js', 'css', 'mp4', 'webm']
    }
  },

  computed: {
    promises() { 
      return this.$store.getters.promises
    }
  },

  created() {
    this.$preloader = new createjs.LoadQueue()
    this.$http.get(configBuild[modeBuild].assetsPublicPath + 'manifest.json', { baseURL: '/' }).then(res => this.load(res.data))
  },

  methods: {
    load(manifest) {
      this.$preloader.on('error', this._onLoadError)
      this.$preloader.on('progress', this._onLoadProgress)
      this.$preloader.on('complete', this._onLoadComplete)

      _.forEach(manifest, (file, key) => {
        let ext = file.substr(file.lastIndexOf('.') + 1)
        if(_.indexOf(this.ignore, ext) !== -1)
          return

        this.manifest.push({ id: key, src: configBuild[modeBuild].assetsPublicPath + file })
      })

      let preloaderPromise = new Promise((resolve, reject) => {
        this.resolveLoader = resolve
        this.$preloader.loadManifest(this.manifest)
      })

      this.$store.commit('loader/PROMISE_PUSH', preloaderPromise)

      this.faker(0.5)

      Promise.all(this.promises).then(this._onPromisesComplete)
    },

    faker(time) {
      let fakerPromise = new Promise((resolve, reject) => {
        TweenMax.delayedCall(time, resolve)
      })
      this.$store.commit('loader/PROMISE_PUSH', fakerPromise)
    },

    _onLoadProgress(event) {
      TweenMax.to(this.$el.querySelector('.Loader__line'), .2, { scaleX: event.progress })
    },

    _onLoadComplete(event) {
      this.resolveLoader('preloader resolded')
    },

    _onPromisesComplete(msg) {
      this.$store.commit('loader/PROMISE_DEACTIVATE')
      this.$store.commit('loader/LOADER_LOADED')
    },

    leave(el, done) {
      TweenMax.to(el, 1, { alpha: 0, onComplete: done })
    },

    _onLoadError(event) {
      console.warn('ERROR IN LOADER')
    },

  }

}

</script>

<style lang="stylus">
@import '~config/Settings'

#Loader
  position fixed
  left 50%
  top 50%
  transform translate(-50%, -50%)
  background color-white
  z-index 999999
  width 100%
  height 100%

.Loader__line
  position absolute
  width 100%
  background color-red
  height 1px
  top 50%
  transform scaleX(0)
</style>
