@import '~config/Settings'
@import '~commons/stylus/Media-queries'

body {
	padding-top 12px
	background color-background
	color color-text
	font-family Roboto
	font-weight 500
	overflow-x hidden
  	-webkit-tap-highlight-color rgba(255, 255, 255, 0)
}

button:focus {
  outline none
}

input:focus {
  outline none
}

input {
  -webkit-appearance none 
}

p {
	margin 15px 0
}

textarea,
input {
  outline none
  box-shadow none
}

img {
  max-width 100%
}

svg  {
	width 100%
	height 100%
}

a {
	color: inherit;
	text-decoration: inherit;
  &:hover {
		color inherit
		text-decoration inherit
  }
  &:focus {
		color inherit
		text-decoration inherit
		outline none
  }
}

h1,h2,h3
	font-weight bold
	color color-title


h1
	font-family UniversLTSbold
	margin 30px 0 46px
	text-align center
	font-size 50px
	text-transform uppercase
	letter-spacing 1px
	
	


+max-screen(tablet)

	body
		padding-top 0
		
	#App
		padding-left 0 !important
		padding-right 0 !important

