@import './Media-queries.styl'

.Page  {
  margin-top 80px
  padding 0 20px
  width 100%

  +max-screen(phone) {
    padding-top nav-height-phone
  }
}

.Page__container {
  max-width desktop;
  margin 0 auto;
  +max-screen(desktop + margin-left + margin-right) {
    margin 0 margin-right 0 margin-left
  }
}

