<template>
	
	<div class="Page Imprimes">
		
		<div class="Imprimes__header">
			<h1>Campagne imprimée</h1>
			<h2>2016-2017</h2>
		</div>

		<div class="Imprimes__imgcontainer">
			<div class="Imprimes__imgcontainer__imgleft">
				<img :src="require('commons/img/imprimesfascicule.jpg')" />
				<h3>Fascicule personnalisable</h3>
				<a href="static/imprimefascicule.pdf" target="_blank">Voir le PDF complet</a>
			</div>
			<div class="Imprimes__imgcontainer__imgright">
				<img :src="require('commons/img/imprimesaccrocheporte.jpg')" />
				<h3>Accroche-porte personnalisable</h3>
				<a href="static/imprimeaccrocheporte.pdf" target="_blank">Voir le PDF complet</a>
			</div>
		</div>

		<p class="Imprimes__txt">
			Les deux items, soit le fascicule et l'accroche-porte, sont disponibles pour la prévente en paquet de 25 items chez nos deux fournisseurs autorisés. 
			<br /><br />
			<a href="http://propriodirect.miromedia.org/index.php?route=account/login" target="_blank">Miromédia</a> (Dans la section «Offre&nbsp;3unique»)
			<br />
			<a href="https://www.toutpourlecourtier.com" target="_blank">Tout pour le courtier</a> (Dans la section&nbsp;«Papeterie») 
		</p>

	</div>

</template>

<script>
	
export default{

	head: {
	    title() {
	      return {
	        inner: 'Imprimés - ' + this.trans('Global.meta.title')
	      }
	    },
	    meta() {
	      return [
	        { name: 'description', content: 'Imprimés - ' + this.trans('Global.meta.title') }
	      ]
	    }
	  },

}

</script>

<style lang="stylus">
@import '~config/Settings'
@import '~commons/stylus/Media-queries'
	
	.Imprimes
		
		a
			text-decoration underline
			transition all 500ms
			&:hover, &:active, &:focus
				color color-red

		&__header
			
			margin-bottom 40px

			h1
				margin-bottom 0

			h2
				margin-top 0
				font-size 30px
				font-family UniversLTSbold
				letter-spacing 1px
				text-align center
			

				&:before, &:after
					content ''
					display inline-block
					position relative
					top -12px
					width 160px
					height 3px
					background-color color-title

				&:before
					margin-right 18px

				&:after
					margin-left 18px

		&__imgcontainer
			width 672px
			margin 0 auto
			text-align center
			overflow hidden
			
			h3
				margin-top 16px
				font-size 16px
				
			a
				font-size 10px
			
			&__imgleft, &__imgright
				width 242px


			&__imgleft
				float left
				
			&__imgright
				float right
				
		&__txt
			width 70%
			margin 40px auto
			text-align center
			font-size 12px
			font-weight 300
			line-height 20px
	

	+max-screen(tablet)
		
		.Imprimes__imgcontainer
			width 500px
			

	+max-screen(phone)
		
		.Imprimes__imgcontainer
			width 100%
			.Imprimes__imgcontainer__imgleft, 
			.Imprimes__imgcontainer__imgright
				float none
				width 100%
				margin-bottom 80px
				
				&:last-child{
					margin-bottom 0
				}
				
		.Imprimes__header
			h2
				&:after, &:before
					display none
				
	


</style>