<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title></title>
    <meta id="description" name="description" content="">

    <!-- for prerender html5 -->
    <meta name="fragment" content="!"> 

    <link rel="shortcut icon" href="<%= require('commons/ico/favicon.ico') %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div id="App"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
