<template>
	<div class="LIGHTBOX">
		<div class="LIGHTBOX__content" v-html="content"></div>
		<a href="#" @click.prevent="close" class="closebtn">X</a>
	</div>
</template>

<script>
	
export default{

	props: ['content'],

	methods: {
		close(){
			this.$emit('close');
		}
	}

}

</script>


<style lang="stylus">
@import '~config/Settings'

	.LIGHTBOX
		background-color color-white
		z-index 999
		
		.closebtn
			position absolute
			top -20px
			right -20px
			display block
			width 50px
			height 50px
			background-color #3f3f3f
			border-radius 100%
			border 5px solid #526779
			color color-white
			text-align center
			line-height 40px
			font-weight bold
			font-size 20px
			z-index 1
			transition all 500ms
			&:hover
				border-color #3f3f3f
							
		
</style>