<template>
<div class="Page Home">
  <div class="row row-title">
    <h1>Campagne publicitaire</h1>
    <p class="Home__subtitle">2016-2017</p>
  </div>

  <div class="Home__panneau">
    <div class="Home__panneau__left">
      <div class="Home__panneau__left__img"><img :src="require('commons/img/homepannelleft.png')" /></div>
    </div>
    <div class="Home__panneau__right">
      <div class="Home__panneau__right__img"><img :src="require('commons/img/homepannelright.png')" /></div>
    </div>
  </div>

  <h2><span>Découvrez toutes les exécutions de notre campagne 2016/2017 <br />ainsi que notre calendrier média.</span></h2>

  <div class="Home__pancarte"><img :src="require('commons/img/homepancarte.png')" /></div>

</div>
</template>

<script>
import store from 'vuex/Store'
import TweenMax from 'gsap'

export default {

  name: 'Home',

  head: {
    title() {
      return {
        inner: 'Accueil - ' + this.trans('Global.meta.title')
      }
    },
    meta() {
      return [
        { name: 'description', content: 'Accueil - ' + this.trans('Global.meta.title') }
      ]
    }
  },

  data : () => ({
    windowWidth: window.innerWidth
  }),

  mounted(){
    this.animate();
  },

  methods: {

    animate(){
      const pancartes = document.querySelectorAll('.Home__pancarte-container li');

      const leftp = document.querySelector('.Home__panneau__left');
      const rightp = document.querySelector('.Home__panneau__right');
      const title = document.querySelector('.row-title');
      const pancarte = document.querySelector('.Home__pancarte');
      const subtitle = document.querySelector('.Home h2')

      TweenMax.from(leftp, 1, {x: -1000, ease: Power3.easeInOut});
      TweenMax.from(rightp, 1, {x: 1000, ease: Power3.easeInOut});
      TweenMax.from(title, 0.5, {x: '-50%', y: '-=100', autoAlpha: 0, ease: Power3.easeIn, delay: 1 })
       TweenMax.from(subtitle, 0.5, { autoAlpha: 0, scale: 0, ease: Power3.easeOut, delay: 1.6 });
      TweenMax.from(pancarte, 0.5, {y: 170, ease: Power3.easeOut, delay: 2.1 })
     


    }

  }


}
</script>

<style lang="stylus">
@import '~config/Settings'
@import '~commons/stylus/Media-queries'
@import './Hamburger-icon'


.Home
  
  @lost flexbox no-flex;
  
  position relative
  width 100%
  height 706px
  margin-bottom -102px
  padding-left 0
  padding-right 0
  margin-top 0
  background color-white
  
  .row
    position absolute
    top 214px
    left 50%
    width 90%
    transform translateX(-50%)
    lost-utility: clearfix;
    margin 30px auto 0
    text-align center
    z-index 1
  
  h1
    margin 0
    text-transform uppercase
    font-size 74px
    color color-white
    text-shadow 1px 1px 20px rgba(0, 0, 0, 0.8)
    font-family UniversLTSbold
    letter-spacing 1px
  
  .Home__subtitle
    margin-top 0
    font-size 50px
    color color-white
    position relative
    text-shadow 1px 1px 20px rgba(0, 0, 0, 0.8)
    font-family UniversLTSbold
    letter-spacing 1px
    
    &:before, &:after
      content ''
      display inline-block
      position relative
      top -12px
      width 286px
      height 3px
      background-color color-white
      box-shadow 1px 1px 20px rgba(0, 0, 0, 0.8)

    &:before
      margin-right 18px
      
    &:after
      margin-left 18px
      

  
  h2
    position absolute
    left 50%
    transform translateX(-50%)
    top 422px
    width 480px
    height 83px
    text-transform uppercase
    text-align center
    color color-black
    text-align center
    font-weight normal
    font-size 13px
    line-height 20px
    font-family UniversLTSbold
    background transparent url('/static/homesubtitleholder.png') no-repeat 0 0;
    
    span
      position absolute
      top 50%
      left 50%
      transform translate(-50%,-50%)
      width 100%
  
  
  .Home__pancarte-container
    margin 40px 0 60px
    li
      position relative
      display inline-block
      
      &:after
        content ''
        position relative
        z-index -1
        display block
        margin 0 auto
        width 100px
        height 20px
        margin-top 40px
        background-color rgba(0,0,0,0.25)
        filter blur(10px);
          

  .Home__panneau
    position relative
    height 100%
    margin 0 -20px
    overflow hidden
    
    &__left, &__right
      position absolute
      top 0
      width 50%
      height 100%
      
      img
        position relative
        height 100%
        
      &__img
        height 100%


    &__left
      left 20%
      
      &__img

        &:before
          content ''
          position absolute
          left -1012px
          width 1000px
          height 100%
          display inline-block
          margin-left 11px
          background-color color-red


      img
        left -2px

    &__right
      right 30%
            
      &__img

        &:after
          content ''
          position absolute
          width 1000px
          height 100%
          display inline-block
          margin-left 9px
          background-color color-green

      img
        right -10px
        
  &__pancarte
    position absolute
    bottom -2px
    right 20px
  
  
  +max-screen(tablet)
      
    h1, .Home__subtitle
      lost-column 1
      
      &:before, &:after
        display none
    
    .Home__panneau
      margin-left 0
      margin-right 0
        

  +max-screen(phone)
    
    .pancarte-container
      li
        lost-column 1/2
        
    h2
      width 90%
      background-image none
      color color-white
      text-shadow: 1px 1px 20px rgba(0,0,0,0.8);

        
  +max-screen(xsphone)
    
    height calc( 100vh - 38px)

    .row
      top 90px

    h1
      font-size 30px
      
    .Home__subtitle
      font-size 24px
      
    h2
      top 250px !important
      
    .Home__pancarte
      width 40%
      
    


      

  +max-screen(798px)
    h2
      top 454px


.page-home
  
  .Navigation
    
    &__link
      &:hover
      &.is-active
        color color-white
        text-shadow 1px 1px 1px rgba(0,0,0,0.5)
        
        .Navigation__items__icons

          svg
            path, rect
              fill color-white
              
  footer
    bottom 0



+max-screen(tablet)
  
  body.no-scroll
    overflow hidden

  
  .page-home
    
    .Home
      padding-top 60px

    .Navigation
      top 0
      width 100%
      left inherit
      bottom inherit
      transform none
      z-index 9
      
      &.active
        .Navigation__items
          transform translateX(0)
      
      &__items
        position fixed
        top 0
        left 0
        width 100%
        height 100%
        transform none
        padding-top 80px
        background rgba(0,0,0,0.95)
        transform translateX(-100%)
        transition all 500ms
        overflow scroll

          
        
        &__icons
          position static
          transform none
          svg
            width 48px
            path, rect
              fill color-white 


        .Navigation__link
          display block
          margin 0 auto 20px
          text-align center
          font-weight bold
          font-size 24px
          
           svg
            path, rect
              fill color-white 
              
          &.is-active
            color color-red
            svg
              path, rect
                fill color-red 
      
      &__link
        float none
        height auto
        color color-white
        
        &__spacer
          display none
         
      
      .menu-icon
        hamburger-generator(40px, 4px, 6px, color-red, $timing-function: linear)

      .navigation-toggle
        display block
        position absolute
        top 16px
        right 16px
        border 0
        background transparent
        z-index 1
        
        &.active .menu-icon
          hamburger-animation()

  


</style>
