<template>
	
	<div class="Page Tv">

		<h1>Campagne télé 2016/2017</h1>

		<div class="Tv__video-container">
			<vimeo-player 
				:src="currentVideo.video" 
				:autoplay="videoOptions.autoplay"
				:width="'100%'"
				:height="'100%'"></vimeo-player>
		</div>

		<ul class="Tv__video-listing">
			<li v-for="video in videos" :class="{active: video === currentVideo}">
				<vignette :article="video" @onClick="onVignetteClick"></vignette>
			</li>
		</ul>

	</div>

</template>

<script>
import store from 'vuex/Store'
import {videos} from './videos'

import VimeoPlayer from 'components/videoplayer/Vimeo.vue'
import Vignette from './Vignette.vue'

const scrollToElement = require('scroll-to-element');

export default {
  name: 'Tv',

  head: {
    title() {
      return {
        inner: 'TV - ' + this.trans('Global.meta.title')
      }
    },
    meta() {
      return [
        { name: 'description', content: 'TV - ' + this.trans('Global.meta.title') }
      ]
    }
  },

  data: () => ({
  	videos,
  	currentVideo: videos[0],
  	videoOptions: {autoplay: false}	  
  }),

  components: {VimeoPlayer, Vignette},

  methods: {

  	onVignetteClick(video){
  		this.videoOptions.autoplay = true;
  		this.currentVideo = video;
  		const videoplayer = document.getElementById('vimeoplayer');
  		scrollToElement(videoplayer, {offset: -20});
  	}

  }

  
}
</script>

<style lang="stylus">
@import '~config/Settings'
@import '~commons/stylus/Media-queries'
	
	@lost flexbox no-flex;

	.Tv__video-container
		aspect-ratio '16:9'
		margin-bottom 40px

	#vimeoplayer
		display: block
		margin 0 auto
		margin-bottom 30px

	.Tv__video-listing
		lost-utility clearfix
		text-align center
		li 
			lost-column 1/2 2 20px
			margin-bottom 40px
			
			h2
				margin 10px 0 6px
				font-weight normal
				font-size 16px
				font-weight 500
			h3
				font-weight normal
				font-size 14px
				font-weight 300
	

	+min-screen(phone)
	
		#vimeoplayer
			width 100% !important
		
		.Tv__video-listing
			li
				lost-column 1/2 2 20px
				img
					width 100%
	


	+min-screen(tablet)
		.Tv__video-listing
			li
				lost-column 1/4 4 20px

	



	

</style>