<template>
	<a @click.prevent="onClick(article)" href="#">
		<div class="VIGNETTE__img-container">
			<img :src="article.img" />
			<i class="fa fa-play fa-1x" aria-hidden="true"></i>
		</div>
		<h2>{{ article.title }}</h2>
		<h3>{{ article.subtitle }}</h3>
	</a>	
</template>

<script>

import 'font-awesome/css/font-awesome.min.css'
	
	export default{

		props: ['article'],

		methods: {
			onClick(article){
				this.$emit('onClick', article);
			}
		}

	}

</script>

<style lang="stylus">
@import '~config/Settings'
@import '~commons/stylus/Media-queries'


.VIGNETTE__img-container
	position relative
	
	img
		display block

	.fa
		position absolute
		top 50%
		left 50%
		//transform translate(-50% -50%)
		color color-white
		opacity 0
		z-index 1
		transition all 500ms

	&:after
		content ''
		display block
		position absolute
		top 0
		left 0
		width 100%
		height 100%
		background color-black
		opacity 0
		transition all 500ms
		
	&:hover, .active &
		.fa
			opacity 1
			transform scale(1.5)
			
		&:after
			opacity 0.5
	

</style>