<template>
  <div class="Navigation" :class="{active :is_navOpen}">
    
    <button class="navigation-toggle" :class="{active :is_navOpen}" data-tools="collapse" @click="toggleNav">
      <span class="menu-icon"></span>
    </button>

    <div class="Navigation__items">
      <router-link 
        class="Navigation__link" 
        v-for="btn in menu" 
        activeClass="is-active"
        @click.native="toggleNav"
        :to="{ name: btn.route }">
          <span>{{ btn.name }}</span>
          <div v-html="btn.icon" class="Navigation__items__icons" :class="'Navigation__items__icons__' + btn.className"></div>
          <img :src="require('commons/img/navspacer.png')" class="Navigation__link__spacer" />
      </router-link>
      <a href="static/calendrier_jan2017.pdf" class="Navigation__link" target="_blank">
        <span>Calendrier</span>
        <div v-html="calendrierIcon" class="Navigation__items__icons Navigation__items__icons__Calendrier"></div> 
      </a>

  </div>
</template>

<script>
import TweenMax from 'gsap'

export default {
  name: 'Navigation',

  data : () => ({
    is_navOpen: false,
    calendrierIcon: require('!svg-inline!commons/svg/navcalendrier.svg')
  }),

  computed: {
    menu() {
      return [
        { route: 'home.' + this.lang, name: "Accueil", className: "Accueil", icon: require('!svg-inline!commons/svg/navhome.svg') },
        { route: 'tv.' + this.lang, name: "TV", className: "TV", icon: require('!svg-inline!commons/svg/navtv.svg') },
        { route: 'web.' + this.lang, name: "Web", className: 'Web', icon: require('!svg-inline!commons/svg/navweb.svg') },
        { route: 'imprimes.' + this.lang, name: "Imprimés", className: 'Imprimes' , icon: require('!svg-inline!commons/svg/navimprimes.svg') } 
      ]
    }
  },

  watch: {
    is_navOpen(isopen){

      if (isopen)
        document.querySelector('body').classList.add('no-scroll');
      else
        document.querySelector('body').classList.remove('no-scroll');
    }
  },

  methods: {
    toggleNav(){
      this.is_navOpen = !this.is_navOpen;
    }
  }
}
</script>

<style lang="stylus">
@import '~config/Settings'
@import '~commons/stylus/Media-queries'
@import './Hamburger-icon'

.Navigation
  position absolute
  bottom 50px
  left 50%
  transform translateX(-50%)

  
  &__items
    width 600px
    margin 0 auto
    
    &__icons
      position absolute
      bottom 0
      left 50%
      transform translateX(-50%)
      transition all 500ms
        
      svg
        -webkit-box-reflect below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(40%, transparent) , to(rgba(250, 250, 250, 0.1)))

        path, rect
          transition all 500ms

      &__Accueil
        svg
          width 40px
          height 36px
          
      &__TV
        svg
          width 42px
          height 40px
          
      &__Web
        svg
          width 48px
          height 34px
           
      &__Imprimes
        svg
          width 37px
          height 33px
          
      &__Calendrier
        svg
          width 35px
          height 34px
      

  .navigation-toggle
    display none

  &__link
    display block
    float left
    width 90px
    height 96px
    margin 0 15px
    position relative
    cursor pointer
    line-height nav-height
    text-transform uppercase
    font-weight 200
    font-size 12px
    text-align center
    color color-graydark
    transition all .3s
    &:hover
    &.is-active
      color color-red
      
      .Navigation__items__icons

        svg
          path, rect
            fill color-red 
      
    &__spacer
      position absolute
      top 46px
      right -20px

    
      

+max-screen(tablet)
  
  .Navigation
    left inherit
    right 0
    transform none 


      
+max-screen(767px)
  
  body.no-scroll
    overflow hidden

  
  .Navigation
    top 0
    width 100%
    left inherit
    bottom inherit
    transform none
    z-index 9
    
    &__items
      position fixed
      top 0
      left 0
      width 100%
      height 100%
      transform none
      padding-top 80px
      background rgba(0,0,0,0.95)
      transform translateX(-100%)
      transition all 500ms
      overflow scroll
      
      .active &
        transform translateX(0)
      
      &__icons
        position static
        transform none
        svg
          width 48px
          path, rect
            fill color-white 


      .Navigation__link
        display block
        margin 0 auto 20px
        text-align center
        font-weight bold
        font-size 24px
        
         svg
          path, rect
            fill color-white 
    
    &__link
      float none
      height auto
      color color-white
      
      &__spacer
        display none
       
    
    .menu-icon
      hamburger-generator(40px, 4px, 6px, color-red, $timing-function: linear)

    .navigation-toggle
      display block
      position absolute
      top 16px
      right 16px
      border 0
      background transparent
      z-index 1
      
      &.active .menu-icon
        hamburger-animation()
        
</style>
