/*
 * Fonts
 * —————
 */

@font-face {
    font-family: 'UniversLTSbold';
    src: url('~commons/fonts/fonts/UniversLTStdBoldCn.woff2') format('woff2'),
         url('~commons/fonts/fonts/UniversLTStdBoldCn.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'Roboto';
    src: url('~commons/fonts/fonts/RobotoRegular.woff2') format('woff2'),
         url('~commons/fonts/fonts/RobotoRegular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'Roboto';
    src: url('~commons/fonts/fonts/RobotoBold.woff2') format('woff2'),
         url('~commons/fonts/fonts/RobotoBold.woff') format('woff');
   font-weight: 700;
   font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('~commons/fonts/fonts/RobotoBoldItalic.woff2') format('woff2'),
         url('~commons/fonts/fonts/RobotoBoldItalic.woff') format('woff');
   font-weight: 700;
   font-style: italic;
}


@font-face {
    font-family: 'Roboto';
    src: url('~commons/fonts/fonts/RobotoMedium.woff2') format('woff2'),
         url('~commons/fonts/fonts/RobotoMedium.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('~commons/fonts/fonts/RobotoMediumitalic.woff2') format('woff2'),
         url('~commons/fonts/fonts/RobotoMediumitalic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}


@font-face {
    font-family: 'Roboto';
    src: url('~commons/fonts/fonts/RobotoLight.woff2') format('woff2'),
         url('~commons/fonts/fonts/RobotoLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('~commons/fonts/fonts/RobotoLightitalic.woff2') format('woff2'),
         url('~commons/fonts/fonts/RobotoLightitalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}


@font-face {
    font-family: 'Roboto';
    src: url('~commons/fonts/fonts/RobotoThin.woff2') format('woff2'),
         url('~commons/fonts/fonts/RobotoThin.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('~commons/fonts/fonts/RobotoThinitalic.woff2') format('woff2'),
         url('~commons/fonts/fonts/RobotoThinitalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}



@font-face {
    font-family: 'RobotoBlack';
    src: url('~commons/fonts/fonts/RobotoBlack.woff2') format('woff2'),
         url('~commons/fonts/fonts/RobotoBlack.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoBlack';
    src: url('~commons/fonts/fonts/RobotoBlackItalic.woff2') format('woff2'),
         url('~commons/fonts/fonts/RobotoBlackItalic.woff') format('woff');
   font-weight: 500;
   font-style: italic;
}