color-white = #fff
color-black = #000
color-text = #a8a8aa
color-graylight = #e9e9e9
color-graydark = #272727
color-red = #e1222b
color-green = #26ae4b
color-background = #e9e9e9
color-title = #d5d5d5



color-dark = #000
color-purple = #5c5edc
color-blue-dark = #1c1d22
color-blue = #3b3d4a

xsphone = 460px
phone = 600px
tablet-portrait = 768px
tablet = 1024px
desktop = 1200px

nav-height = 40px
nav-height-phone = 40px
margin-left = 15px
margin-right = 15px

@lost gutter 0px	
