<template>

<iframe 
	:src="srcparams" 
	:width="width" 
	:height="height" 
	:webkitallowfullscreen="allowfullscreen" 
	:mozallowfullscreen="allowfullscreen" 
	:allowfullscreen="allowfullscreen"
	:autoplay="autoplay"
	frameborder="0"
	id="vimeoplayer"></iframe>

</template>

<script>
	
	export default{

		data: () => ({

		}),

		props: {

			src: {
				type: String,
				required: true
			},
			width: {
				default: '100%'
			},
			height: {
				default: 'auto'
			},
			autoplay: {
				type: Boolean,
				default: false,
			},
			loop: {
				type: Boolean,
				default: false
			},
			allowfullscreen: {
				type: Boolean,
				default: true
			}

		},

		computed: {
			srcparams(){
				let params = this.src;
				params += '?';
				params += 'autoplay=' + this.autoplay;
				params += '&loop=' + this.loop;
				return params;
			}	
			
		}

	}

</script>