<template>
	
	<h1>Chasseur de maison</h1>

</template>

<script>
	
export default{

	head: {
		title() {
			return {
				inner: 'Commandites - ' + this.trans('Global.meta.title')
			}
		},
		meta() {
			return [
				{ name: 'Commandites', content: 'Web - ' + this.trans('Global.meta.title') }
			]
		}
	}

}

</script>

<style lang="stylus">
@import '~config/Settings'

</style>