<template>
  <div class="Toto">
    toto
  </div>
</template>

<script>
import TweenMax from 'gsap'

export default {
  name: 'Toto',
  methods: {
    enter() {
      return new Promise((resolve, reject) => {
        TweenMax.from(this.$el, 2, { x: '50%', onComplete: resolve })
      })
    },
    leave() {
      return new Promise((resolve, reject) => {
        TweenMax.to(this.$el, 2, { x: '-50%', onComplete: resolve })
      })
    },
  }
}
</script>

<style lang="stylus">
@import '~config/Settings'

.Toto
  color red

</style>
