<template>
<div class="Page p404">
  <div class="p404__text">
    {{ trans('text') }} 404
  </div>
</div>
</template>

<script>
export default {
  name: 'p404',
  translations: {
    fr: { text: 'oupsss erreur' },
    en: { text: 'oupsss error' }
  }
}
</script>

<style lang="stylus">



</style>
