<template>
<div id="App">
  <transition 
    @enter="enter" @after-enter="afterEnter" 
    @leave="leave" @after-leave="afterLeave" 
    :css="false" appear :mode="mode">
    <router-view ref="page" v-if="loaded"/>
  </transition>
  <Navigation/>
  <AppFooter/>
  <Loader v-if="!loaded"/>
</div>
</template>

<script>
import TweenMax from 'gsap'
import Settings from 'config/Settings'
import Loader from 'components/loader/Loader'
import Navigation from 'components/navigation/Navigation'
import AppFooter from 'components/footer/Footer'
import Transition from 'core/mixins/Transition'

export default {
  name: 'App',
  mixins: [ Transition ],
  components: { Loader, Navigation, AppFooter },
  data: () => ({
    loader: Settings.loader,
    $prevLeave: null
  }),
  computed: {
    loaded() { 
      this.setBodyClassName(this.$route);
      return this.$store.getters.loaded
    }
  },
  beforeCreate() {
    this.$router.beforeEach((to, redirect, next) => {
      this.$store.commit('app/SET_FROM_ROUTE', this.$route)
      this.setBodyClassName(to);
      if(this.$refs.page)
        this.$prevLeave = this.$refs.page.leave
      next()
    })

    this.$router.afterEach(to => {
      this.$store.commit('app/SET_TO_ROUTE', to)

      if(typeof ga === 'function')
        ga('send', 'pageview', location.pathname)

      if(this.lang != to.meta.lang)
        this.$store.commit('app/LANG_CHANGED', to.meta.lang)

      this.$root.setLangRouteNames()
    })
  },

  methods: {

    setBodyClassName(route){
      const bodySelector = document.querySelector('body');
      const routeClassName = route.meta.name;

      const basicBodyClassList = Array.from(bodySelector.classList).filter( className => {
        return className.indexOf('page-') == -1; 
      });
      bodySelector.className = '';
      basicBodyClassList.map( className => bodySelector.classList.add(className) );

      bodySelector.classList.add(`page-${routeClassName}`);
    }

  }

}
</script>

<style lang="stylus">
@import '~config/Settings'
@import '~commons/fonts/Fonts'
@import '~commons/stylus/Reset'
@import '~commons/stylus/Global'
@import '~commons/stylus/Page'
@import '~commons/stylus/Vlazy'

#App
  overflow hidden
  position relative
  lost-center 1000px
  padding 20px
  padding-top 0
  padding-bottom 140px
  background color-white
  border 1px solid color-white
  background transparent url('/static/pagebackcontainergradient.jpg') no-repeat 0 0
  background-size cover
  
</style>
